/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color:#ffeef6;
  --accent-color: #FF8DCB; /* тень */
  --color-no-focus: #FFC2E6;
  --background-image: url(../images/cover-image-light.png);
  --title-decor: #FF8DCB; /* фон */
  --title-decor-text: #353430;
  --color-highlight: #353430; /* навигация и заголовки */
  --paragraph-color: #353430;
  --background-color: #fff1f7;
}
@media (prefers-color-scheme: light) {
  :root {
  --background-color: #fff1f7;
  --background-color:#ffeef6;
  --accent-color: #FF8DCB; /* тень */
  --color-no-focus: #FFC2E6;
  --background-image: url(../images/cover-image-light.png);
  --title-decor: #FF8DCB; /* фон */
  --title-decor-text: #353430;
  --color-highlight: #353430; /* навигация и заголовки */
  --paragraph-color: #353430;
  }
} 