.rec-label {
  display: none;
}
.theme-dark .rec-label {
  position: absolute;
  top: var(--blocks-inline-margin);
  right: 8px;
  display: inline-block; /* или inline-block, если нужно */
  color: var(--color-highlight);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 25px;
  text-transform: uppercase;
}

/* Точка — тоже только в .theme-dark */
.theme-dark .rec-label::after {
  content: "";
  display: inline-block; /* или inline-block, если нужно */
  margin-inline-start: 5px;
  margin-block-end: 3px;
  border-radius: 50%;
  background-color: var(--color-highlight);
  box-shadow: 0 0 4px 2px var(--color-highlight);
  inline-size: 10px;
  block-size: 10px;
}
/* link */
.link {
  --shadow: 2px 2px 0 var(--accent-color);
  padding-inline: 1.5px;
  text-decoration: none;
  text-shadow: var(--shadow);
}
.link:hover {
  /* без outline чтобы не было тени от подчеркивания */
  border-block-end: 1px solid var(--paragraph-color);
}
.link:focus {
  outline: 1px solid var(--paragraph-color);
}
/* уголки */
.corner {
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none; /* Чтобы не мешали кликам */
}
.corner-top-right {
  top: var(--blocks-inline-margin);
  right: 0px;
  border-inline-end: 1px solid var(--color-highlight);
  border-block-start: 1px solid var(--color-highlight);
}
.corner-bottom-left {
  bottom: var(--blocks-inline-margin);
  left: 0px;
  border-inline-start: 1px solid var(--color-highlight);
  border-block-end: 1px solid var(--color-highlight);
}
/* focus */
.no-focus__title {
  --main-line-height: 83%;
  color: var(--color-no-focus);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--main-line-height);
  text-shadow: var(--shadow);
}
.title-decor {
  color: var(--title-decor-text);
  background-color: var(--title-decor);
}
.page {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 18px;
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}
/* header */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  margin-inline: var(--blocks-inline-margin);
  block-size: 100vh;
  min-block-size: 668px;
}
.header__theme-menu {
  justify-self: end;
}
.header__theme-menu-list {
  display: grid;
  align-content: space-around;
  gap: 11px;
  margin-block-start: 5px;
}
.header__theme-menu-button {
  border: none;
  padding-inline: 13px;
  padding-block: 3px;
  color: var(--color-highlight);
  text-transform: lowercase;
  background-color: transparent;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--color-highlight);
}
.header__theme-menu-button_active {
  outline: 1px solid var(--color-highlight);
}
.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--color-highlight);
}
.header__text {
  display: grid;
  margin-block-end: 10px;
  font-weight: 700;
  line-height: var(--main-line-height);
}
/* main */
.main {
  display: grid;
  gap: 50px;
  margin-inline: var(--blocks-inline-margin);
  margin-block: 40px;
}
.content-text {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}
.section {
  display: grid;
  gap: var(--section-gap);
}
.section__title {
  color: var(--color-highlight);
}
.card-list {
  display: grid;
  gap: var(--section-gap);
}
.card-list__item {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: var(--card-gap);
}
.card-list__text {
  color: var(--paragraph-color);
}
.gold-fish-section__content {
  display: grid;
  gap: var(--section-gap);
}
.img-section {
  --section-gap: 10px;
}
.images {
  display: grid;
  gap: var(--section-gap);
}
.img {
  max-inline-size: 100%;
}
/* footer */
.footer {
  --shadow: 2px 2px 0 var(--accent-color);
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  margin-inline: var(--blocks-inline-margin);
  block-size: 100vh;
  min-block-size: 668px;
}
@media (width >= 768px) {
  .header,
  .main,
  .image,
  .footer {
    --blocks-inline-margin: 20px;
    --section-gap: 20px;
  }
  /* focus */
  .no-focus__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__theme-menu {
    margin-block-start: 7px;
  }
  .header__title {
    /* контролируемый за счет переменной минусовой отступ */
    margin-inline: calc(-1 * var(--blocks-inline-margin));
  }
  .header__text {
    justify-self: end;
    margin-block-end: 22px;
    inline-size: 50%;
  }
  .main {
    gap: 80px;
    margin-block: 60px;
  }
  .section {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
  .hard-section__card-list {
    grid-column: 2/4;
    padding-inline-start: 5px;
  }
  .concentration-section__card-list {
    grid-column: 1/4;
    grid-row: 2;
  }
  .gold-fish-section__content {
    display: grid;
    grid-column: 2/4;
    gap: 20px;
    padding-inline-start: 5px;
  }
  .img-section {
    --section-gap: 20px;
    grid-template-columns: auto;
  }
  .images {
    grid-template-columns: repeat(3, 1fr);
  }
  .img {
    /* Важно: без этого object-fit не сработает */
    display: block;
    object-fit: cover;
    /* Опционально: выравнивание по центру изображения */
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
  }
  .img:nth-child(1) {
    grid-column: 1/3;
  }
  .img:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .img:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .img:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}
@media (width >= 1024px) {
  .header,
  .main,
  .image,
  .footer {
    --blocks-inline-margin: 20px;
    --section-gap: 20px;
  }
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 13px;
  }
  .hard-section__card-list {
    padding-inline-start: 0px;
  }
  .gold-fish-section__content {
    padding-inline-start: 0px;
  }
  .concentration-section__card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
