/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070; /* тень */
  --color-no-focus: #DB00FF;
  --background-image: url(../images/cover-image-dark.png);
  --background-color:#000028;
  --title-decor: #FF0070; /* фон */
  --title-decor-text: #000028;
  --color-highlight: #FF0070; /* навигация и заголовки */
  --paragraph-color: #F1B2CE;
  --shadow: 4px 4px 0 var(--accent-color);
  --main-font-size: 18px;
  --section-gap: 20px;
  --card-gap: 10px;
  --main-line-height: 23.4px;
  --blocks-inline-margin: 10px;
}